<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<!-- 共通パーツ読み込み -->
<head th:replace="fragments/header :: common_head('ログイン')"></head>

<body>
    <div class="container mt-5">
        <h2>ログイン</h2>
        <form th:action="@{/login}" method="post">
            <!-- ユーザー名 -->
            <div class="mb-3">
                <label for="username" class="form-label">ユーザー名</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>

            <!-- パスワード -->
            <div class="mb-3">
                <label for="password" class="form-label">パスワード</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>

            <!-- エラー文 -->
            <div th:if="${param.error}" class="alert alert-danger">
                ログインに失敗しました。
            </div>
            <button type="submit" class="btn btn-primary">ログイン</button>
        </form>
    </div>
</body>

</html>